body,
html {
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  /*background-color: #4f6d7a;*/
}

::selection {
  background: #e0e0;
}

.header {
  font-family: archiaregular;
  color: #000;
}

h1 {
  color: #000;
}


.link:hover {
  color: #000;
}

a:hover {
  text-decoration: none;
}


p {
  color: #000;
  font-size: 5em;
}